body {
  background: #fff;
  font-family: "Roboto", sans-serif;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li,
a,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #212121;
  text-decoration: none;
}

/* HEader */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #2196f3;
  margin-left: 220px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.nav-links {
}

.nav-links li {
  display: inline-block;
  padding: 0px 50px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;

  color: #212121;
}

.nav-links li a:hover {
  color: #2196f3;
}

.link-mt li a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.link-mt li {
  display: inline-block;
  padding: 0px 50px;
}

.link-mt li a {
  transition: all 0.3s ease 0s;
}

.link-mt li a:hover {
  color: #2196f3;
}

.EFFECTIVE {
}

/* first section */
.second-section {
  display: block;
  background-position: center;
  background-size: cover;

  width: 1600px;
  height: 600px;
  background-color: #2f303a;
}

/* Seconns section */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
